<header id="navbar-spy" class="header header-1">
		
		<!-- .top-bar end -->
		<nav id="primary-menu" class="navbar navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					
					<a class="logo" href="javascript:void(0)">
					<img src="assets/images/logo/logo-light.png" style="height: 37px;" alt="Autoshop">
					</a>
				</div>
				
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse pull-right" id="header-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<li class="has-dropdown active">
							<a routerLink="index" data-toggle="dropdown" class="dropdown-toggle">Home</a>
							
						</li>
						<!-- li end -->
						
						<li *ngIf="loggedInUser == null">
							<a routerLink="login">Login</a>
            			</li>
						<li *ngIf="loggedInUser != null">
							<a (click)="logout()">Logout</a>
						</li>	
					</ul>			
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>