.gn-menu-main > li {
	border: none !important;
}

#body-image{
	position: absolute;
	height: 300px;
	width: auto;
	min-width: 100%;
	padding-top: 0;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	
	
}

.gn-scroller{
	overflow: auto;
}