<!-- Page Title
============================================= -->
<section id="page-title" class="page-title" style="min-height: 470px;">
		<div class="container">
			<div class="row">
				
				<!-- .col-md-6 end -->
				<div class="col-md-5 offset-md-3 m-t-30">
            <form class="mb-0" (ngSubmit)="login()">
              <p id="error" class="hidden"></p>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required="true" placeholder="Email">
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required="true" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-30">Login</button>
										
            </form>
				</div>
				<!-- .col-md-6 end -->
			</div>
      <!-- .row end -->
      <div class="row">
        <div class="col-md-6 offset-md-3">
            <br/>
            
        </div>
      </div>
		</div>
		<!-- .container end -->
	</section>
	<!-- #page-title end -->
