p, input, button {
	font-size: 14px !important;
}
.page-title{
	margin-top: 100px !important;
}
ol{
	list-style-type: disc;
}

.no-padding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}