<!-- Page Title
============================================= -->
<section id="page-title" class="page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-9"> 
					<h1>TROPIXEL DEVELOPMENT TEST</h1>
				</div>
				<!-- .col-md-6 end -->
				<div class="col-xs-12 col-sm-12 col-md-3">
					
				</div>
				<!-- .col-md-6 end -->
			</div>
      <!-- .row end -->
      <div class="row">
        <div class="col-md-6 offset-md-3">
            <br/>
               

            <h5>Instructions:</h5>
            <ol>
              <li>
                Submit the test in a bitbucket project.
              </li> 
              <li>
                To be submitted before 6pm, 11th March 2019.
              </li> 
            </ol> 
            <h5>Backend(Javascript):</h5>
            <span>Build a todo app api using node or related node framework with the following
              features:</span>
            <ol>
              <li>
                Basic authentication
              </li>
              <li>
                Add a new todo item with a scheduled timeline
              </li>
              <li>
                Edit a todo item
              </li>
              <li>
                Delete a todo item
              </li>
              <li>
                Mark todo as completed or not completed.
              </li>
              <li>
                Retrieve all todo for a particular user
              </li>
              <li>
                And provide an API documentation.
              </li>
            </ol>
            <div class="text-center">
              <a routerLink="../login" class="btn btn-primary text-center">Login</a>
            </div>
        </div>
      </div>
		</div>
		<!-- .container end -->
	</section>
	<!-- #page-title end -->
