p, input, button {
	font-size: 14px !important;
}
.page-title{
	margin-top: 100px !important;
}
ol{
	list-style-type: disc;
}

.no-padding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.m5{
	margin-left: 2px;
	margin-right: 2px;
}
.dp-picker-input{
	height: 35px;
    line-height: 33px;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    width: 100%;
    color: #b2b2b2;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 0 20px;
    margin-bottom: 20px;
}

#pass{
	width: 100px;
	height: 100px;
}
.margin-left{
	margin-left: 80px;
}