<!-- Page Title
============================================= -->
<section id="page-title" class="page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-9"> 
					<h1>Your todos</h1>
				</div>
			</div>
      <!-- .row end -->
  	</div>
		<!-- .container end -->
	</section>
	<!-- #page-title end -->
	
  <div class="row margin-left">
    <div class="col-md-11" style="margin-top: 30px;">
        <button type="button" class="btn btn-primary text-center pull-right" data-toggle="modal" data-target=".login-modal-lg">New todo</button>
        <table class="table">
          <thead>
            <tr >
              <th>S/n</th>
              <th>Title</th>
              <th>Description</th>
              <th>Created</th>
              <th>To be completed</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let todo of todos; let i = index">
              <td>{{i + 1}}</td>
              <td>{{todo.title}}</td>
              <td>{{todo.description}}</td>
              <td>{{todo.created}}</td> 
              <td>{{todo.completionDate}}</td> 
              <td>
                  <span *ngIf="todo.status == 1">
                      Active
                  </span>
                  <span *ngIf="todo.status == 3">
                      Completed
                  </span>
              </td>
              <td>
                <span *ngIf="todo.status == 1">
                    <button type="button" class="btn btn-info text-center m5" data-toggle="tooltip" title="Edit" (click)="edit(todo._id, todo.title, todo.description, todo.completionDate)"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-success text-center m5" data-toggle="tooltip" title="Completed" (click)="confirmCompletion(todo._id)"><i class="fa fa-check-circle"></i></button>
                    <button type="button" class="btn btn-danger text-center m5" data-toggle="tooltip" title="Delete" (click)="confirmDelete(todo._id)" ><i class="fa fa-trash"></i></button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>   
      </div>
    </div>    
	<!-- Register Section
============================================= -->
  <section id="register" class="register">
		<div class="container">
			<div class="row">
				<div class="col-xs-12  col-sm-12  col-md-12">
					
					<div class="modal model-sign fade login-modal-lg" tabindex="-1" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<h6>New Todo</h6>
									<div class="register-form">
                    <form class="mb-0"  enctype="multipart/form-data" (ngSubmit)="createNew()">
                      <p id="success" class="hidden">Thank you! Your todo was saved successfully</p>
                      <p id="error" ></p>
                      <div class="form-group">
                        <label for="firstname">Title</label>
                        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title" required="true" placeholder="Title">
                      </div>
                      <div class="form-group">
                          <label for="description">Description</label>
                          <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description" required="true" placeholder="Description">
                      </div>
                      <div class="form-group">
                        <label for="date">To be completed</label>
                        <input type="date" class="form-control" id="completionDate" name="completionDate" [(ngModel)]="completionDate" required="true">
                      </div>
                      <button type="submit" class="btn btn-primary btn-block mt-30">Save</button>
										</form>
										
									</div>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
					</div>
				</div>
				<!-- .col-md-12 end -->
			</div>
			<!-- .row end -->
		</div>
		<!-- .container end -->
	</section>
  <!-- #register end -->
  
  <section id="edit" class="register">
      <div class="container">
        <div class="row">
          <div class="col-xs-12  col-sm-12  col-md-12">
            
            <div class="modal model-sign fade edit-modal-lg" tabindex="-1" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <h6>Edit Todo</h6>
                    <div class="register-form">
                      <form class="mb-0"  enctype="multipart/form-data" (ngSubmit)="updateTodo()">
                        <p id="success" class="hidden">Thank you! Your todo was saved successfully</p>
                        <p id="error" ></p>
                        <div class="form-group">
                          <label for="firstname">Title</label>
                          <input type="text" class="form-control" id="editTtle" name="editTitle" [(ngModel)]="editTitle" required="true" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="editDescription" name="editDescription" [(ngModel)]="editDescription" required="true" placeholder="Description">
                        </div>
                        <div class="form-group">
                          <label for="date">To be completed</label>
                          <input type="date" class="form-control" id="editCompletionDate" name="editCompletionDate" [(ngModel)]="editCompletionDate" required="true">
                        </div>
                        <input type="hidden" id="editId" name="editId" [(ngModel)]="editId" />
                        <button type="submit" class="btn btn-primary btn-block mt-30">Save</button>
                      </form>
                      
                    </div>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
            </div>
          </div>
          <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
      </div>
      <!-- .container end -->
    </section>
    <!-- #edit end -->